{% load static %}
<nav class="navbar navbar-fixed-top navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><a href="{% url '' %}"> <img src="{% static 'images/glh-logo.png' %}" alt="Object Detection" height="80" width="80"> </a></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'signup' %}">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'signup' %}">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'signup' %}">Contact Us</a>
        </li>
        {% if not 'userid' in request.session %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'signup' %}">Sign Up</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'signin' %}">Sign In</a>
        </li>
        {% endif %}
        {% if 'userid' in request.session %}
        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            User
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'settings' %}">Settings</a></li>
            <li><a class="dropdown-item" href="#">Additional</a></li>

            {% if 'userid' in request.session %}
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'signout' %}">Sign Out</a></li>
            {% endif %}
          </ul>
        </li>
        {% endif %}
        <!-- <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li> -->
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
